#meetings>h3 {
    text-align: center;

    color: blue;
    font-size: large;
    font-style: italic;
    padding-left:50pt ;
}

#meetings>img {
    float: right;
    border-radius: 50%;
}

#meetings {
    width: 50%;
    margin: 0 auto;
}

#meetings>p {
    height: 130px;
}

h2 {
    font-size: large;
    font-style: normal;
    color: blue;
    text-align: center;
}

body {
    background-color: #FFDDE2FF;
}