h1,
h2 {
  text-align: center;
}

h1 {
  color: blue;
}

h2 {
  color: #008C76FF;
}

#container>img {
  height: 500px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

body {
  background-color: #FFDDE2FF;
}