h2 {
    color: blue;
    text-align: center;
}

h3 {
    text-align: center;
    color: #008C76FF;
}

body {
    background-color: #FFDDE2FF;
}

/* .float-img {
    margin-left: 10px;
    margin-bottom: 5px;
    border: solid black 1px;
    padding: 2px;
    float: right;
    clear: right;
    margin-top: 10px;

} */